@model Burialmain

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Burial Details</h5>
</div>
<div class="modal-body">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Excavation Year</th>
                <td>@Model.Fieldbookexcavationyear</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>@Model.Sex</td>
            </tr>
            <tr>
                <th>Burial Depth</th>
                <td>@Model.Depth</td>
            </tr>
            <tr>
                <th>Age At Death</th>
                <td>@Model.Ageatdeath</td>
            </tr>
            <tr>
                <th>Head Direction</th>
                <td>@Model.Headdirection</td>
            </tr>
            <tr>
                <th>Hair Color</th>
                <td>@Model.Haircolor</td>
            </tr>
            <tr>
                <th>Face Bundles</th>
                <td>@Model.Facebundles</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>@Model.Area</td>
            </tr>
            <tr>
                <th>Wrapping</th>
                <td>@Model.Wrapping</td>
            </tr>
            <tr>
                <th>Square North South</th>
                <td>@Model.Squarenorthsouth</td>
            </tr>
            <tr>
                <th>North South</th>
                <td>@Model.Northsouth</td>
            </tr>
            <tr>
                <th>East West</th>
                <td>@Model.Eastwest</td>
            </tr>
            <tr>
                <th>Adult Sub-Adult</th>
                <td>@Model.Adultsubadult</td>
            </tr>
            <tr>
                <th>South to Head</th>
                <td>@Model.Southtohead</td>
            </tr>
            <tr>
                <th>South to Head</th>
                <td>@Model.Southtohead</td>
            </tr>
            <tr>
                <th>Preservation</th>
                <td>@Model.Preservation</td>
            </tr>
            <tr>
                <th>Field Book Page</th>
                <td>@Model.Fieldbookpage</td>
            </tr>
            <tr>
                <th>Field Book Page</th>
                <td>@Model.Fieldbookpage</td>
            </tr>
            <tr>
                <th>Square East West</th>
                <td>@Model.Squareeastwest</td>
            </tr>
            <tr>
                <th>Goods</th>
                <td>@Model.Goods</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>@Model.Text</td>
            </tr>
            <tr>
                <th>West to Head</th>
                <td>@Model.Westtohead</td>
            </tr>
            <tr>
                <th>Samples Collected</th>
                <td>@Model.Samplescollected</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>@Model.Length</td>
            </tr>
            <tr>
                <th>Burial Number</th>
                <td>@Model.Burialnumber</td>
            </tr>
            <tr>
                <th>Data Experimentals</th>
                <td>@Model.Dataexpertinitials</td>
            </tr>
            <tr>
                <th>West to Feet</th>
                <td>@Model.Westtofeet</td>
            </tr>
            <tr>
                <th>South to Feet</th>
                <td>@Model.Southtofeet</td>
            </tr>
            <tr>
                <th>Excavation Recorder</th>
                <td>@Model.Excavationrecorder</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>@Model.Photos</td>
            </tr>
            <tr>
                <th>Burial Materials</th>
                <td>@Model.Burialmaterials</td>
            </tr>
            <tr>
                <th>Date of Excavation</th>
                <td>@Model.Dateofexcavation</td>
            </tr>
            <tr>
                <th>Fieldbook Excavation Year</th>
                <td>@Model.Fieldbookexcavationyear</td>
            </tr>
            <tr>
                <th>Cluster Number</th>
                <td>@Model.Clusternumber</td>
            </tr>
            <tr>
                <th>Shaft Number</th>
                <td>@Model.Shaftnumber</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal-footer">
    <button type="button" class="btn" style="border: 1px solid black; color: black;"><a asp-action="Burials" style="color: inherit; text-decoration: none;">Close</a></button>
</div>
